# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password123
POSTGRES_DB=od_approval_db
POSTGRES_PORT=5432

# Backend API Configuration
JWT_SECRET=supersecretjwtkeychangeinprod123
JWT_EXPIRES_IN=7d
PORT=8000
DATABASE_URL=postgres://postgres:password123@db:5432/od_approval_db
STORAGE_PROVIDER=gdrive

# Google Drive Storage Service Account Credentials
GOOGLE_SERVICE_ACCOUNT_CLIENT_EMAIL=certificate-storage@snappy-mission-503816-n1.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
GOOGLE_DRIVE_PARENT_FOLDER_ID=1S3WBt19OTEONmQlvHF-3KdYvio_BAiGt

# Frontend Configuration
VITE_API_URL=http://localhost:8000/api
