@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0 0 0);

    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0 0 0);

    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0 0 0);

    --primary: oklch(0.7163 0.1706 53.4464);
    --primary-foreground: oklch(1.0000 0 0);

    --secondary: oklch(0.1607 0.0367 261.0427);
    --secondary-foreground: oklch(1.0000 0 0);

    --muted: oklch(0.9642 0 0);
    --muted-foreground: oklch(0.5103 0 0);

    --accent: oklch(0.7163 0.1706 53.4464);
    --accent-foreground: oklch(1.0000 0 0);

    --destructive: oklch(0.5653 0.2133 27.5428);
    --destructive-foreground: oklch(1.0000 0 0);

    --border: oklch(0.8853 0 0);
    --input: oklch(0.8853 0 0);
    --ring: oklch(0.7163 0.1706 53.4464);

    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-family: 'Inter', system-ui, sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  ::-webkit-scrollbar { width: 6px; height: 6px; }
  ::-webkit-scrollbar-track { @apply bg-transparent; }
  ::-webkit-scrollbar-thumb { @apply bg-gray-300 rounded-full; }
  ::-webkit-scrollbar-thumb:hover { @apply bg-gray-400; }
}
